on:
  pull_request:
    branches:
    - master
jobs:
  upload_map_folder:
    runs-on: ubuntu-latest
    steps:
      - name: get-changed-folders
        uses: Stockopedia/action-get-changed-files@v1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          foldersOnly: true
          ignore: "maps/**/*"
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: "${{ steps.get_changed.outputs.changed[0] }}"
          # A file, directory or wildcard pattern that describes what to upload
          path: "maps/${{ steps.get_changed.outputs.changed[0] }}"
          retention-days: 60
          overwrite: true
          
