on:
  pull_request:
    branches:
    - master
jobs:
  upload_map_folder:
    runs-on: ubuntu-latest
    steps:
      - name: get-changed-folders
        id: get_changed
        uses: Stockopedia/action-get-changed-files@v1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          foldersOnly: true
          ignore: "maps/**/*"
      - name: Get a changed folder
        id: get_last_changed
        run: value=$(echo "${{ steps.get_changed.outputs.changed }}" | jq -r '.[-1]')
      - name: test
        run: "ls ${{ github.workspace }} && ls ${{ github.workspace }}/../"
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: "${{ steps.get_changed.outputs.changed[steps.get_last_changed.outputs.value] }}"
          # A file, directory or wildcard pattern that describes what to upload
          path: "${{ github.workspace }}/${{ steps.get_changed.outputs.changed[steps.get_last_changed.outputs.value] }}/*"
          retention-days: 60
          overwrite: true
          
